@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .third-screen-container {
    @apply absolute overflow-auto border border-gray-300 shadow-md;
    width: 100vw; 
    height: 100vh; 
    top: 0;
    left: 0;
  }

  .scale-wrapper {
    @apply absolute;
    width: 33.33vw;
    height: 100vh;
    left: calc((100% - 33.33vw) / 2);
    overflow: hidden;
  }

  .custom-shadow {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }

  .responsive-text {
    font-size: clamp(1rem, 2vw, 2.5rem);
    line-height: 1.5;
    padding: 1rem;
  }

  .custom-scrollbar::-webkit-scrollbar {
    width: 12px;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background-color: #f0f0f0;
    border-radius: 8px;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #a9a9a9;
    border-radius: 8px;
  }

  @media screen and (max-width: 768px) {
    .scale-wrapper {
      width: 75vw;
      left: calc((100% - 75vw) / 2);
    }

    .responsive-text {
      font-size: clamp(1rem, 3vw, 2rem);
    }
  }

  @media screen and (max-width: 480px) {
    .scale-wrapper {
      width: 90vw;
      left: calc((100% - 90vw) / 2);
    }

    .responsive-text {
      font-size: 4vw;
    }
  }

  body {
    margin: 0;
    padding: 0;
    overflow-y: auto; 
  }

  .main-container {
    position: absolute;
    top: 0;
    left: calc(100% - 33vw);
    width: 33vw;
    height: 100vh;
    border-left: 2px solid #ccc;
    box-shadow: -4px 0 8px rgba(0, 0, 0, 0.2);
    background-color: white;
    overflow-y: auto;
  }
}
